:root{
    --background: '207, 207, 207';
    --text: '0, 0, 0';
    --primary: '0, 135, 184';
    --secondary: '107, 166, 255';
    --accent: '0, 187, 255';
}

body{
    background-color: rgba(var(--background),1) !important;
    color: rgba(var(--text),1) !important;
    transition: all 0.4s;
}

.switch{
    margin-top: 3%;
    margin-left: 85%;
}

.toggle-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #b0b0b0;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    transition: 0.3s cubic-bezier(.29,1.12,.6,1.26);
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: #181818;
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "";
    left: 50px;
    color: #181818;
}